body{
   background-color: lightgray;
   margin: 0;
}
nav{
    background-color:grey;
padding: 10px;
margin: 0;
font-size: 20px;

}

img{
margin-top: 10px;
height: 300px;
margin-right: -10px;

}
figure{
    display: inline;
}
figcaption{
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: inline;
    margin-top: 10px;
    height: 300px;
    margin-left: auto;
}